* {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

html{
  color-scheme: dark light;
}

body{
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  font-style: italic;
  background-repeat: no-repeat;
  background-size: cover;
  shape-margin: 0.75rem;
}

