body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

table,
tr,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  width: 3rem;
  height: 3rem;
  text-align: center;
}

button {
  align-self: center;
  height: 2rem;
  width: 2rem;
  color: black;
}

.counters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33vw;
  font-size: 2rem;
}

.rst-btn {
  height: 3.5rem;
  width: 3.5rem;
  transform: translateX(50%);
}

.hidden {
  display: none;
}

.shown {
  background-color: lightgray;
}

.marked {
  background-color: lightslategrey;
}

.losing-bomb {
  background-color: red;
}

.missed {
  background-color: lightseagreen;
}

.win-marked {
  background-color: green;
}
