body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-collapse: collapse;
}

table,
tr,
td {
  border-collapse: separate;
  border-spacing: 0.5rem;
  border-radius: 3px;
}

td {
  height: 2rem;
  width: 2rem;
  aspect-ratio: 1;
  text-align: center;
}

button {
  background-color: rgb(24, 109, 106);
  align-self: center;
  height: 2rem;
  width: 2rem;
  color: black;
  text-transform: uppercase;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  box-shadow: 0 0 4px 1px rgba(255,255,255,0.3);
}

button:hover {
  background-color: #9a9a9a;
}

header {
  position: fixed;
  top: 12vh;
  left: auto;
}
header h1 {
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.counters-container {
  position: fixed;
  top: 0;

  border: 1px solid #eee;
  border-radius: 30px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: space-evenly;

  font-size: 1.5rem;
  width: 90vw;
  height: 10dvh;
}

.counters-container div {

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  gap: .5rem;
  text-align: center;
  width: 100%;

  text-transform: uppercase;
}

.counters-container .hint-btn {
  width: 100%;
  height: 100%;
}
.counters-container .lives-left span {
  color: red;
}
.counters-container .hint-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  gap: .5rem;
}

.difficulty-container button {
  width: 5rem;
  height: 5rem;
}

.difficulty-container button.rst-btn {
  font-size: 2.5rem;
}

.mid-section {
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(-4%);
}

.leaderboard table {
  position: fixed;
  left: 50%;
  top: 50%;
  bottom: 10vh;
  transform: translate(-50%, -50%);
  width: 40vw;
  background-color: #6b6b6ba5;
  border-radius: 30px;
}



.gameboard {
  aspect-ratio: 1;
}

.gameboard button {
  width: 90%;
  height: 90%;
}

.gameboard div {
  font-family: monospace;
  width: 90%;
  height: 90%;
  font-size: 1.2rem;
}

footer {
  position: fixed;
  bottom: 1vh;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 2vh;
}
.rst-leaderboard-btn,
.tgl-leaderboard-btn {
  width: 9rem;
  height: 3rem;
}

@media (min-width: 780px) {
  .difficulty-container {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1vh;
  }
  .leaderboard td {
    font-size: 1.2vw;
    height: 3vw;
  }
}
@media (max-width: 779px) {
  header{
    display: none;
  }
  .difficulty-container {
    position: fixed;
    bottom: 13vh;
    right: 50%;
    display: flex;
    flex-direction: row;
    transform: translateX(50%);
    gap: 1vh;
  }
  .difficulty-container button {
    width: 5rem;
    height: 5rem;
  }
  .difficulty-container button.rst-btn {
    font-size: 2.5rem;
  }
  .leaderboard td {
    font-size: 2.5vw;
    height: 6vw;
  }
}

/* Utility Classes - Coloring */

.hidden {
  display: none;
}

.shown,
.shown:disabled {
  background-color: rgb(147, 152, 146);
}

.marked,
.marked:disabled {
  background-color: rgb(50, 69, 88);
}

.losing-bomb,
.losing-bomb:disabled {
  background-color: rgb(94, 35, 35);
  box-shadow: 0 0 15px 6px rgba(255, 1, 1, 0.5);
}

.missed,
.missed:disabled {
  background-color: lightseagreen;
}

.win-marked,
.win-marked:disabled {
  background-color: green;
}

.selected {
  background-color: orange;
  box-shadow: 0 0 3px 5px rgba(255, 165, 0, .5);
  border-radius: 5px;
}

.leaderboard {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-shadow: 2px 1px 1px rgba(0, 0, 0, .5),
               3px 2px 1px rgba(0, 0, 0, .5);
  color: rgb(135, 160, 183);
}