body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

table,
tr,
td {
  border: 1px solid white;
  border-collapse: collapse;
}

td {
  width: 3rem;
  height: 3rem;
  text-align: center;
}

button {
  background-color: #6B6B6B;
  align-self: center;
  height: 2rem;
  width: 2rem;
  color: black;
}
button:hover{
  background-color: #9A9A9A;
}



.counters-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 33vw;
  font-size: 2rem;
}

.rst-btn {
  height: 3.5rem;
  width: 3.5rem;
  transform: translateX(50%);
}

.hidden {
  display: none;
}

.shown,.shown:disabled {
  background-color: lightgray;
}

.marked,.marked:disabled {
  background-color: lightslategrey;
}

.losing-bomb,.losing-bomb:disabled {
  background-color: red;
}

.missed,.missed:disabled {
  background-color: lightseagreen;
}

.win-marked,.win-marked:disabled {
  background-color: green;
}
